* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



.grid {
  display: grid;
  grid-template-columns: repeat(21, 25px);
  grid-template-rows: repeat(21, 25px);
  gap: 1px;
  border: 2px solid #000;
  width: fit-content;
  margin: auto;
  position: relative;
}

.grid-item {
  width: 25px;
  height: 25px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
}

.grid-item:nth-child(odd) {
  background-color: #78f1ed;
}

.grid-item:nth-child(even) {
  background-color: #fa7777;
}

.snake {
  width: 100%;
  height: 100%;
  background-color: blue;
}

.apple {
  background-image: url('../gfx/apple.png');
  background-size: cover;
  animation: bounce 0.5s infinite alternate;
  border: none;
}

@keyframes bounce {
  to {
    transform: translateY(-10px);
  }
}

.snake-head {
  display: flex;
  justify-content: center;
  align-self: center;
}

.snake-tail {}

#level-heading,
#level-selection,
#level-display {
  text-align: center;
  margin-top: 20px;
}

.hidden {
  display: none;
}

button {
  border: none;
  border-radius: 5px;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 21px;
  margin-bottom: 30px;
}

button:hover {
  background-color: rgb(191, 191, 191);
}
